@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.header-bg {
  background-color: c.$desaturated-dark-cyan;
  background-size: auto;
  background-position: center;
  height: func.rem(156);

  @media (width > v.$mobile) {
    background-image: url("/images/bg-header-desktop.svg");
  }

  @media (width <= v.$mobile) {
    background-image: url("/images/bg-header-mobile.svg");
  }
}
